<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.bdt.ipet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.dialog.FimPagamento" android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".view.ListaDeDoacoesPendentes" android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.ListaCasosComDoacaoPendente" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".view.ListDadosBancarios" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".view.FimCadastro" android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.CadastroInfoBanco"
            android:windowSoftInputMode="adjustResize" android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.EnviarFoto" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CriarCasoActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.DetalhesCasoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.OngMain"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.CadastroOng"
            android:windowSoftInputMode="adjustResize" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".view.QueroAjudarOng"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.OngLogin"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.MainActivity" android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".view.Filter"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/AppThemeSplash"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>