<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.bdt.ipet">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.FimCadastro"></activity>
        <activity android:name=".view.CadastroInfoBanco" />
        <activity android:name=".view.EnviarFoto" />
        <activity android:name=".view.CriarCasoActivity" />
        <activity android:name=".view.DetalhesCasoActivity" />
        <activity android:name=".view.ListagemDeCasos" />
        <activity android:name=".view.CadastroOng" />
        <activity android:name=".view.QueroAjudarOng" />
        <activity android:name=".view.SouUmaOngActivity" />
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.Filter" />
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>